@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    overflow: hidden;
}

ul
{
    z-index: 11;
    position: relative;
    display: flex;
    flex-direction: column;
}

ul li
{
    list-style: none;
}

ul li a
{
    position: relative;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 4em;
    color: #fff;
    font-weight: 700;
    transition: 0.5s;
}

ul li a:hover
{
    color: rgba(255,255,255,0.1);
    transform: translateY(-10px);
    transition-delay: 0s;
}

ul li a::before
{
    content: attr(data-text);
    position: absolute;
    bottom: -10px;
    pointer-events: none;
    z-index: 10;
    font-size: 0.35em;
    color: var(--i);
    font-weight: 500;
    letter-spacing: 100px;
    opacity: 0;
    transition: 0.5s;
    text-shadow: 0 0 10px var(--i),
    0 0 30px var(--i),
    0 0 80px var(--i);
}

ul li a:hover::before
{
    letter-spacing: 6px;
    opacity: 1;
}